RewriteEngine On

RewriteRule ^admin$ admin.php
RewriteRule ^home$ index.php

RewriteRule ^listeUsers$ views/pages/admin/users/liste.php
RewriteRule ^listeConteneurs$ views/pages/admin/conteneurs/liste.php
RewriteRule ^listeLivraisons$ views/pages/admin/livraisons/liste.php
RewriteRule ^listeCommandes$ views/pages/admin/commandes/liste.php
RewriteRule ^listePaiements$ views/pages/admin/paiements/liste.php
RewriteRule ^listeNotes$ views/pages/admin/notes/liste.php
